@font-face {
	font-family: myFont;
	src: url(Arcon-Regular.otf) format("opentype");
}

* {
	font-family: myFont;
}


body {
	height: 100vh;
	height: 100%;
	
	background: rgb(52, 73, 94); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgb(52, 73, 94), black); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(rgb(52, 73, 94), black); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(rgb(52, 73, 94), black); /* For Firefox 3.6 to 15 */
    background: linear-gradient(rgb(6, 65, 84), black); /* Standard syntax */
	
	line-height: 1.5;
}


.myImage {
	background: url("rower2.jpg");
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.btn{
	border-radius: 5px;
	color:white;
}

.myButton {
	color:black;
	background: white;
}


.klasa{
	margin-top: 200px;
	padding: 50px 100px;
	
	border-radius: 5px;
	box-shadow: 0 0px 12px rgba(0, 0, 0, .74);
}

.form-reg {
	margin-top: 50px;
}

.vertical-align{
	
	
}

.navbar {
	margin-bottom: 0;
	
}

.navbar .container{
	padding: 20px 0px;
}


.navbar-header {
	margin: 0 auto;
}


.box-content-reg {
	margin: 0 auto;
	text-align: center;
}

.box-content li{
	text-align: center;
	margin: 0 auto;
}

.footer{
	margin-top: 100px;
	min-height: 10vh;
	display: flex;
	
}

.footer .container-fluid{
	width: 100%;
}

.row{
	display: flex;
	min-height: 100vh;
	
}

.row-content {
	box-shadow: 0 0px 12px rgba(0, 0, 0, .74);
	margin-top: 100px;
}

.user-icon-img{
	text-align: center;
	margin: 0 auto;
	width: 64px;
	height: 64px;
}

.nav-tabs>li{
	display: block;	
	border-bottom: 1px solid rgba(0,0,0,.005);
	border-top: 1px solid rgba(0,0,0, .025);
	border-bottom-color: rgba(0,0,0,.2);
	border-top-color: rgba(255,255,255,.05);
	margin:0;
	padding:0;
	position:relative;
	text-align: center;
}

.navbar-inverse a{
	display: block;
	padding: 15px 15px 15px 30px;
	border-left: 6px solid inherit;
	border-top: 0px;
	border-right: 0px;
	border-bottom: 0px;
}

.navbar-inverse a:hover{
	text-decoration: none;
	margin-right: 0;
	border-left: 6px solid red;
	border-top: 0px;
	border-right: 0px;
	border-bottom: 0px;
	color: white;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: none;
	color: black;
}

.nav-stacked{
	font-size: 16px;
	padding: 0;
	margin: 0 auto;
}

.content {
	padding: 10px 30px;
}

.sidebar-brand {
	padding: 100px;
}

.line-thru {
	margin-bottom: 10px;
	display: block;
	font-size: 20px;
	position: relative;
	text-align: center;
	width: 100%;
	z-index: 1;
}

.mySubmit {
	background: #ACB2B7;
}

.mySubmit:hover {
	background: #979CA0;
	color: white;
}

.czy-konto {
	font-size: 16px;
	margin-top: 20px;
	margin-bottom: 0;
	display: block;
	text-align: center;
}

