@CHARSET "UTF-8";
div.login{
	width: 450px;
	height: 350 px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0; 
    allign: center;
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
}

div.header{
	background-color: blue;
	
}